<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Spark Photon</title>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
	<script type="text/javascript" src='js/angular.min.js'></script>



<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
<!-- <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script> -->
<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>

	
	<script type="text/javascript" src='js/app.js'></script>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body ng-controller="AuthController">
	<div id="background">
		<div id="page">
			<div id="header">
				<div id="logo">
					<a href="index.html"><img src="images/logo.png" alt="LOGO"></a>
				</div>
				<div id="navigation">
					<ul id="primary">
						 <li >
			              <a href="index.html">Home</a>
			            </li>
			            <li>
			              <a href="about_us.html">About Us</a>
			            </li>
			            <li>
			              <a href="for_driver.html">Requests</a>
			            </li>
			            <li>
			              <a href="faq.html">Faq</a>
			            </li>
					</ul>
					<ul id="secondary">
						
						<li>
							<a href="log_in.html">Login</a> | <a href="register.html">Signup</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="contents">
				<div>
					<div id="search">
						<h3>Sign In</h3>
						<p>
							Find out here where you can get your extra cash!!!
						</p>
						<form>
							<ul>
								<li>
									 <input style="border:0px" type='text' id='name' placeholder='Name' ng-model="credentials.email">
								</li>
								
									
								<li>
									 <input style="border:0px" type='password' id='password' placeholder='Password' ng-model="credentials.password">
								</li>
								
							</ul>
							<input type="submit" ng-click="SignIn($event)" value="Log In"  class="button">
						</form>
					</div>
					<h4><span>About Us</span></h4>
					<div id="faq">
						<p> <b>Hello! We are team 20!</b> </p>
					<p>
						Our idea is to set up a peer to peer parcel delivery platform.It can help people to make fast delivery, save time and bring convenience. On the other hand, People can also make extra cash. 
					</p>
					<p> If you want to know more about our project, you can approach us any time in class. </p>
						<p> <b>The team before us is <a href="https://group19-assignment1.firebaseapp.com/">Team 19 </a></b></p>

						<p> <b>The team after us is <a href="https://beerstreet-21.firebaseapp.com/">Team 21 </a></b></p>

						<p> Thank You!</p>
					</div>
					<!--
					<img src="images/shop-now.jpg" height="355" width="618" alt="Promo"> <a href="index.html" class="button"></a> <span></span>
				-->
				</div>
				<div id="main">

					<div id="featured">
					<!--	<h4><span>Recommended</span></h4>
						<ul class="items">
							<li>
								<a href="product.html"> <img src="images/leather-boots.jpg" alt="Img"> <span>$19.50</span> Cheverlyn Zespax </a>
							</li>
							<li>
								<a href="product.html"> <img src="images/leather-boots.jpg" alt="Img"> <span>$19.50</span> Cheverlyn Zespax </a>
							</li>
							<li>
								<a href="product.html"> <img src="images/leather-boots.jpg" alt="Img"> <span>$19.50</span> Cheverlyn Zespax </a>
							</li>
							<li>
								<a href="product.html"> <img src="images/leather-boots.jpg" alt="Img"> <span>$19.50</span> Cheverlyn Zespax </a>
							</li>
						</ul>
					</div>
				
					<div id="sale">
						<h4><span>Recommended Location</span></h4>
						<ul class="items">
							<li>
								<a href="product.html"> <img src="images/boots-brown.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots </a>
							</li>
							<li>
								<a href="product.html"> <img src="images/boots-violet.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots </a>
							</li>
							<li>
								<a href="product.html"> <img src="images/boots-yellow.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots </a>
							</li>
							<li>
								<a href="product.html"> <img src="images/boots-green.jpg" alt="Img"> <span>$8.50</span> Hukbalahap Boots </a>
							</li>
						</ul>
					</div>

				-->
				</div>
			</div>
			<div id="footer">
				<div class="background">
					<div id="connect">
						<h5>Get Social With us!</h5>
						<ul>
							<li>
								<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
							</li>
							<li>
								<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
							</li>
							<li>
								<a href="http://www.freewebsitetemplates.com/go/googleplus/" target="_blank" class="linkin"></a>
							</li>
						</ul>
					</div>
				 <ul class="navigation" draggable="true">
              <li class="latest"></li>
              <li class="latest">
                <h5>On Request Items</h5>
              </li>
            </ul>
					<p class="footnote">
						&copy; Copyirght &copy; 2011. <a href="index.html">Company name</a> all rights reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>